<html>
<head>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
    <script>
    	function onSubmit(e) {
    		console.log("clicked");
    		e.preventDefault();
    	};
    </script>
</head>
<body>
    <div th:if="${param.error}">
        Нэр эсвэл нууц үг буруу байна.
    </div>
    <div th:if="${param.logout}">
		Гарсан нь.
    </div>
    <form th:action="@{/login}" method="post" onSubmit="onSubmit()">
        <div><label> Нэвтрэх нэр: <input type="text" name="username"/> </label></div>
        <div><label> Нууц үг: <input type="password" name="password"/> </label></div>
        <div><input class="btn btn-primary" type="submit" value="Нэвтрэх"/></div>
    </form>
</body>
</html>